/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway', "Arial";
    color: #fff;
}

ul {
    list-style-type:none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}

a{
    color: #fff;
    text-decoration:none;
}